# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env

# Database
*.db

# Ignore the entire migrations folder
migrations/

# But track version files (Python scripts) inside migrations/versions
!migrations/versions/

# Still ignore pycache files in migrations/versions
migrations/versions/__pycache__/
migrations/versions/*.pyc

heroku-x64.exe
